/* flexbox styling of our entry forms, so that the date is above the entry field */
.date fieldset {
  display: flex;
  flex-direction: column;
}

.concepts fieldset {
  display: flex;
  flex-direction: column;
}

.entry fieldset {
  display: flex;
  flex-direction: column;
}

.mood fieldset {
  display: flex;
  flex-direction: column;
}

/* submit button styling */
.button {
  width: 10%;
  margin: 10px 45% ;
}



.newEntryForms div {
  padding: 8px;
  margin: 0px 15% 0px 15%;
  width: 70%;
  align-self: center;
}

.newEntryForms div form {
  align-items: center;
}


h1 {
  text-align: center;
}

body {
  background-color: aliceblue
}

.entryLog section {
  border: 1px solid rebeccapurple;
  padding: 5px;
  margin: 5px;
}
